.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem var(--desktop-padding);
  border-bottom: 1px solid var(--secondary);
  background-color: var(--bg);
  z-index: 999;
  position: sticky;
  top: 0;
  transition: transform 250ms, margin-bottom 250ms;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.main[data-visible=false] {
  transform: translateY(-90%);
  margin-bottom: -64px;
}

.main[data-visible=false]:hover {
  transform: translateY(-10%);
}

@media (prefers-color-scheme: light) {
  .main {
    box-shadow: 0 0 10px var(--secondary);
  }
}